In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\LENOVO\OneDrive\Desktop\downloads\Age-Income-Dataset.csv")

In [4]:
df.describe()

             Income
count     50.000000
mean   50966.000000
std    21096.683268
min    15000.000000
25%    33475.000000
50%    46850.000000
75%    65400.000000
max    93000.000000

In [5]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     50 non-null     object
 1   Income  50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 932.0+ bytes

In [3]:
#using libraries
mean=df.mean(numeric_only=True)
median = df.median(numeric_only=True)
minimum = df.min(numeric_only=True)
maximum = df.max(numeric_only=True)
std_dev = df.std(numeric_only=True)

print("Mean:\n", mean)
print("Median:\n", median)
print("Minimum:\n", minimum)
print("Maximum:\n", maximum)
print("Standard Deviation:\n", std_dev)

Mean:
 Income    50966.0
dtype: float64
Median:
 Income    46850.0
dtype: float64
Minimum:
 Income    15000
dtype: int64
Maximum:
 Income    93000
dtype: int64
Standard Deviation:
 Income    21096.683268
dtype: float64

In [30]:
def summary_stats(column):
    if len(column) == 0:  # Check if the column is empty
        return "No valid data"
    
    values = sorted(column)
    n = len(values)
    mean = sum(values) / n
    median = values[n//2] if n % 2 != 0 else (values[n//2 - 1] + values[n//2]) / 2
    return mean, median, values[0], values[-1]

for col in ['Age', 'Income']:
    col_values = pd.to_numeric(df[col], errors='coerce').dropna().tolist()
    stats = summary_stats(col_values)
    
    if stats == "No valid data":
        print(f"{col}: No valid data")
    else:
        print(f"{col} -> Mean: {stats[0]:.2f}, Median: {stats[1]:.2f}, Min: {stats[2]}, Max: {stats[3]}")

Age: No valid data
Income -> Mean: 50966.00, Median: 46850.00, Min: 15000, Max: 93000

In [35]:
df.head()

   Age  Income AgeGroup
0  NaN   25000      NaN
1  NaN   54000      NaN
2  NaN   60000      NaN
3  NaN   15000      NaN
4  NaN   45000      NaN

In [36]:
df['AgeGroup'] = pd.cut(df['Age'], bins=[0, 20, 30, 40, 50, 60, 100], labels=['<20', '20-30', '30-40', '40-50', '50-60', '60+'], right=False)
summary = df.groupby('AgeGroup')['Income'].describe()
print(summary)

          count  mean  std  min  25%  50%  75%  max
AgeGroup
<20         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
20-30       0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
30-40       0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
40-50       0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
50-60       0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
60+         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5152\2423788956.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  summary = df.groupby('AgeGroup')['Income'].describe()

In [38]:
print(df.columns)

Index(['Age', 'Income', 'AgeGroup'], dtype='object')

In [39]:
summary = df.groupby('AgeGroup')['Income'].describe()
print(summary)
df['AgeGroup_Encoded'] = df['AgeGroup'].astype('category').cat.codes
print(df['AgeGroup_Encoded'].tolist())

          count  mean  std  min  25%  50%  75%  max
AgeGroup
<20         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
20-30       0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
30-40       0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
40-50       0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
50-60       0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
60+         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5152\702016180.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  summary = df.groupby('AgeGroup')['Income'].describe()